# IDEs
.vscode/
.idea/
__debug_bin
.DS_Store
*.swp
*~

# Python cache files
__pycache__/
*.egg-info/

# Build artifacts
build/
dist/

# Testing / coverage
.coverage
coverage.xml
coverage.json
htmlcov/

# Documentation build
docs/_build/

# Environment / secrets
.env
.env.*

# Virtual environments
.venv/
venv/


# benchmarks
benchmark-results/